{% extends "plate/cours/base.html" %}

{% load static %}

{% block main %}

<!-- Main Content -->
<div class="col-md-9">
    <!-- Course Section -->
    <div class="container mt-3">
        <h2 class="text-center text-warning" id="details">Introduction au Fulfulde</h2>

        <!-- Modules -->
        <div class="module">
            <h3 class="text-center text-primary">Module 1: Introduction</h3>
            <div class="chapter">
                <h4>Chapitre 1: Qu'est-ce que le Fulfulde?</h4>
                <div class="lesson">Leçon 1: Histoire et Culture</div>
                <div class="lesson">Leçon 2: Importance du Fulfulde</div>
            </div>
            <div class="chapter">
                <h4>Chapitre 2: Prononciation</h4>
                <div class="lesson">Leçon 1: Sons de base</div>
                <div class="lesson">Leçon 2: Intonations</div>
            </div>
        </div>

        <div class="module">
            <h3 class="text-center text-primary">Module 2: Vocabulaire de Base</h3>
            <div class="chapter">
                <h4>Chapitre 1: Salutations</h4>
                <div class="lesson">Leçon 1: Dire Bonjour</div>
                <div class="lesson">Leçon 2: Dire Au Revoir</div>
            </div>
            <div class="chapter">
                <h4>Chapitre 2: Chiffres</h4>
                <div class="lesson">Leçon 1: Compter de 1 à 10</div>
                <div class="lesson">Leçon 2: Les Nombres Ordinales</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
