{% extends "plate/cours/base.html" %}

{% block main %}

<!-- Main Content -->
<div class="col-md-9">
    <div class="container quiz-container">
        <h3 class="text-center mb-4 text-warning">Choisissez un Quiz</h3>
        <div class="row g-3">
            <!-- Quiz Cards -->
            {% for quiz in quizzes %}
            <div class="col-md-2 col-sm-6">
                <div class="quiz-card">
                    <h5>{{ quiz.title }}</h5>
                    <div class="points">Niveau : <strong>{{ quiz.level }}</strong></div>
                    <div class="stars">
                        {% if quiz.level == 'Débutant' %}
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        {% elif quiz.level == 'Intermédiaire' %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        {% elif quiz.level == 'Avancé' %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        {% endif %}
                    </div>
                   <a href="{% url 'quiz_detail' quiz.slug quiz.id %}" class="btn btn-play">Jouer</a>

                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-center">Aucun quiz disponible pour ce cours.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}